Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:

#Copyright (c) Microsoft Corporation. All rights reserved.
#Licensed under the MIT License.
#Building and packaging the artifacts of the Java-Core libraries using the build.gradle file.
#Ready the package for deployment and release. 

trigger:
  branches:
    include:
      - dev
      - main
      - master
  paths:
    include:
      - src/*
    exclude:
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle
      - Scripts/*

pr: none

pool:
  vmImage: windows-latest

steps:
- template: templates/checkout-and-credscan.yml
- template: templates/install-java.yml
- template: templates/secure-files.yml
- template: templates/build-and-coverage.yml
- template: templates/publish-artefacts.yml
- template: templates/alert-failure.yml

.azure-pipelines/prValidate.yml:

#Copyright (c) Microsoft Corporation. All rights reserved.
#Licensed under the MIT License.
#Build and test Java Core to make sure a valid pull request is being made
#Validate that the versions dont conflict with those online in case a pull request is made to main or master

pr: 
  branches:
    include:
      - dev
      - main
      - master
      - feature/v2
  paths:
    exclude:
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle
      - Scripts/*

trigger: none # disable triggers based on commits.

pool:
  vmImage: windows-latest

steps:
- template: templates/checkout-and-credscan.yml
- template: templates/install-java.yml
- template: templates/build-and-coverage.yml
- template: templates/alert-failure.yml

- adds unit tests for other data types
  src/test/java/com/microsoft/graph/serializer/CollectionResponseOfBoolean.java
  src/test/java/com/microsoft/graph/serializer/CollectionResponseOfLong.java
  src/test/java/com/microsoft/graph/serializer/CollectionResponseOfPrimitivesTests.java
  src/test/java/com/microsoft/graph/serializer/CollectionResponseOfString.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- bumps patch version
  gradle.properties
  readme.md
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Sprout for fix which downcasts parametrized nested `IJsonBackedObject` objects during deserialization.
  src/main/java/com/microsoft/graph/serializer/CollectionResponseSerializer.java
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/main/java/com/microsoft/graph/serializer/DerivedClassIdentifier.java
  src/main/java/com/microsoft/graph/serializer/FallbackTypeAdapterFactory.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Bumps patch version also in pom.xml
  pom.xml
Due: .azure-pipelines/prValidate.yml

Applied proposed changes.
  src/main/java/com/microsoft/graph/serializer/CollectionResponseSerializer.java
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/main/java/com/microsoft/graph/serializer/DerivedClassIdentifier.java
  src/main/java/com/microsoft/graph/serializer/FallbackTypeAdapterFactory.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update CODEOWNERS
  .github/CODEOWNERS
Due: .azure-pipelines/prValidate.yml

Fixes "Access to private field logger of class FallbackTypeAdapterFactory requires synthetic accessor".
  src/main/java/com/microsoft/graph/serializer/FallbackTypeAdapterFactory.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Improves the logic which makes sure that custom IJsonBackedObject type adapters defined in GsonFactory are not overridden.
  src/main/java/com/microsoft/graph/serializer/FallbackTypeAdapterFactory.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Added unit test covering case in PR #249.
  src/test/java/com/microsoft/graph/models/MessageStub.java
  src/test/java/com/microsoft/graph/models/MessagesCollectionResponseStub.java
  src/test/java/com/microsoft/graph/models/ReactionStub.java
  src/test/java/com/microsoft/graph/models/SubReactionStub1.java
  src/test/java/com/microsoft/graph/models/SubReactionStub2.java
  src/test/java/com/microsoft/graph/models/TestIJsonBackedObject.java
  src/test/java/com/microsoft/graph/serializer/FallbackTypeAdapterFactoryTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Moved `ODataTypeParametrizedIJsonBackedObjectAdapter` to it's own file.
  src/main/java/com/microsoft/graph/serializer/ODataTypeParametrizedIJsonBackedTypedAdapter.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Increased unit tests coverage.
  src/main/java/com/microsoft/graph/serializer/FallbackTypeAdapterFactory.java
  src/test/java/com/microsoft/graph/models/ReactionsStub.java
  src/test/java/com/microsoft/graph/serializer/FallbackTypeAdapterFactoryTest.java
  src/test/java/com/microsoft/graph/serializer/ODataTypeParametrizedIJsonBackedTypedAdapterTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Removed DerivedClassIdentifier and related code from: - DefaultSerializer - CollectionResponseDeserializer ... as this is now taken care by ODataTypeParametrizedJsonBackedTypeAdapter.
  src/main/java/com/microsoft/graph/serializer/CollectionPageSerializer.java
  src/main/java/com/microsoft/graph/serializer/CollectionResponseDeserializer.java
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/main/java/com/microsoft/graph/serializer/GsonFactory.java
  src/test/java/com/microsoft/graph/models/TestIJsonBackedObject.java
  src/test/java/com/microsoft/graph/serializer/DefaultSerializerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Bump target android SDK version to 31
  android/build.gradle
Due: .azure-pipelines/prValidate.yml

update to 2.0.8 from 2.0.7
  gradle.properties
  pom.xml
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Bump from version 2.0.7 to 2.0.8
  readme.md
Due: none

added the maven preview and release stages to buildAndPackage.yml as well as github release stage.
  .azure-pipelines/buildAndPackage.yml
  .azure-pipelines/templates/build-stage/build-and-coverage.yml
  .azure-pipelines/templates/build-stage/checkout-and-credscan.yml
  .azure-pipelines/templates/build-stage/install-java.yml
  .azure-pipelines/templates/build-stage/publish-artefacts.yml
  .azure-pipelines/templates/build-stage/secure-files.yml
  .azure-pipelines/templates/github-release-stage/version-and-release.yml
  .azure-pipelines/templates/maven-preview-stage/copy-and-build.yml
  .azure-pipelines/templates/maven-preview-stage/secure-files.yml
  .azure-pipelines/templates/maven-release-stage/copy-and-build.yml
  .azure-pipelines/templates/maven-release-stage/secure-files.yml
Due: .azure-pipelines/prValidate.yml

add stage dependencies to release stages
  .azure-pipelines/buildAndPackage.yml
Due: .azure-pipelines/prValidate.yml

Remove 'stage' suffix from Stage names.
  .azure-pipelines/buildAndPackage.yml
Due: .azure-pipelines/prValidate.yml

fixed serialization problems for mime messages
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Add support to set a setting to serialize null values using the DefaultSerializer and GSONFactory
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/main/java/com/microsoft/graph/serializer/GsonFactory.java
  src/test/java/com/microsoft/graph/serializer/DefaultSerializerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

add conditions to the maven release stage
  .azure-pipelines/buildAndPackage.yml
Due: .azure-pipelines/prValidate.yml

instances of /_msgraph-sdk-java-core build and package/drop changed to DROP_PATH variable
  .azure-pipelines/templates/github-release-stage/version-and-release.yml
  .azure-pipelines/templates/maven-preview-stage/copy-and-build.yml
  .azure-pipelines/templates/maven-release-stage/copy-and-build.yml
Due: .azure-pipelines/prValidate.yml

added unit test for "text/plain" request bodies
  src/test/java/com/microsoft/graph/http/CoreHttpProviderTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a linting issue for null check
  src/test/java/com/microsoft/graph/http/CoreHttpProviderTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds missing javadoc comments
  src/main/java/com/microsoft/graph/serializer/DerivedClassIdentifier.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Updated based on PR feedback
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/main/java/com/microsoft/graph/serializer/GsonFactory.java
  src/test/java/com/microsoft/graph/serializer/DefaultSerializerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

added download-artifacts template, modified publish artifacts, both now publish/download pipeline-artifacts
  .azure-pipelines/buildAndPackage.yml
  .azure-pipelines/templates/build-stage/publish-artefacts.yml
  .azure-pipelines/templates/download-artifacts.yml
Due: .azure-pipelines/prValidate.yml

added validation request for release stage
  .azure-pipelines/buildAndPackage.yml
  .azure-pipelines/templates/validation-request.yml
Due: .azure-pipelines/prValidate.yml

manually update spotbugs version to 4.7.2
  build.gradle
Due: .azure-pipelines/prValidate.yml

- code linting
  src/test/java/com/microsoft/graph/http/CoreHttpProviderTests.java
  src/test/java/com/microsoft/graph/serializer/DefaultSerializerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds javadoc comments for serializing null values parameters
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/main/java/com/microsoft/graph/serializer/GsonFactory.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update buildAndPackage.yml
  .azure-pipelines/buildAndPackage.yml
Due: .azure-pipelines/prValidate.yml

Update buildAndPackage.yml for Azure Pipelines
  .azure-pipelines/buildAndPackage.yml
Due: .azure-pipelines/prValidate.yml

using 'publish' keyword to implicitly call publishPipelineArtifact task
  .azure-pipelines/templates/build-stage/publish-artefacts.yml
Due: .azure-pipelines/prValidate.yml

removed implicit streps included in deployment-job
  .azure-pipelines/buildAndPackage.yml
Due: .azure-pipelines/prValidate.yml

propose to put maven and github release into a single stage
  .azure-pipelines/buildAndPackage.yml
Due: .azure-pipelines/prValidate.yml

removed 'stage' suffix from folder names
  .azure-pipelines/templates/build/build-and-coverage.yml
  .azure-pipelines/templates/build/checkout-and-credscan.yml
  .azure-pipelines/templates/build/install-java.yml
  .azure-pipelines/templates/build/publish-artefacts.yml
  .azure-pipelines/templates/build/secure-files.yml
  .azure-pipelines/templates/github-release/version-and-release.yml
  .azure-pipelines/templates/maven-preview/copy-and-build.yml
  .azure-pipelines/templates/maven-preview/secure-files.yml
  .azure-pipelines/templates/maven-release/copy-and-build.yml
  .azure-pipelines/templates/maven-release/secure-files.yml
  .azure-pipelines/templates/validation-request.yml
Due: .azure-pipelines/prValidate.yml
